<div class="ContentSideSections Implementation">
    <md-card>
      <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Global Filter">
    </div>
      <md-card-content>


        <p-dataTable [value]="cares"
                    [rows]="10"
                    [paginator]="totalRecords > 10"
                    [totalRecords]="totalRecords"
                    (onLazyLoad)="loadPage($event)"
                    selectionMode="single"
                    [rowsPerPageOptions]="[5,10,20,50,100]"
                    [responsive]="true"
                    [globalFilter]="gb"
                    selectionMode="single"
                    [(selection)]="selectedCare"
                    (onRowSelect)="onRowSelect($event)"
                    #dt >
            <p-header> (count: {{totalRecords}})</p-header>

            <p-column field="date" header="Date" [style]="{'overflow':'visible'}" [sortable]="true" [filter]="true" filterMatchMode="startsWith" >
              <ng-template let-col let-care="rowData" pTemplate="body">
                  {{care[col.field]|date: "dd/MM/yyyy" }}
              </ng-template>
              <ng-template pTemplate="filter" let-col>
                  <p-calendar  [(ngModel)]="dateFilter" dateFormat="dd/mm/yy" (onBlur)=onBlurCalendarInputPrimeng($event,dt,col.field,col.filterMatchMode)  (onSelect)="onSelectCalendarInputPrimeng($event,dt,col.field,col.filterMatchMode)" styleClass="ui-column-filter" #calendar></p-calendar>
              </ng-template>
            </p-column>


            <p-column field="intitule" header="Intitulé" [sortable]="true" [filter]="true">
            </p-column>


            <p-column field="beneficiaire" header="Bénéficiaire" [sortable]="true" [filter]="true" filterMatchMode="in" [style]="{'overflow':'visible'}">
              <ng-template pTemplate="filter" let-col>
                  <p-multiSelect [options]="beneficiaires" defaultLabel="Tous les bénéficiaires" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-multiSelect>
              </ng-template>
            </p-column>

            <p-column field="montant" header="Montant payé" [sortable]="true" [filter]="true">
              <ng-template let-col let-care="rowData" pTemplate="body">
                <span>{{care[col.field] | currency:'EUR':true:'1.2-2'}}</span>
            </ng-template>
            </p-column>




            <p-column styleClass="col-icon">
               <ng-template let-care="rowData" pTemplate="body">
                  <button type="button" pButton icon="fa-pencil-square-o"  pTooltip="Détails" tooltipPosition="left" style="float:left" (click)="selectCare(care)"></button>
                </ng-template>
            </p-column>

        </p-dataTable>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button (click)="showDialogToAdd()"><md-icon>add</md-icon>Add</button>
    </md-card-actions>

    </md-card>

    <p-dialog header="Care Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="500" >
      <md-card>
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="care">
            <div class="ui-grid-row">
                <div class="ui-g-4"><label for="date">Date</label></div>
                <div class="ui-g-8"><p-calendar id="date" [(ngModel)]="care.date" dateFormat="dd/mm/yy"></p-calendar></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-g-4"><label for="brand">Intitulé</label></div>
                <div class="ui-g-8"><input pInputText id="intitule" [(ngModel)]="care.intitule" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-g-4"><label for="brand">Professionnel</label></div>
                <div class="ui-g-8">
                  <p-dropdown
                      [options]="professionnels"
                      [(ngModel)]="care.professionnel"
                      placeholder="Séléctionner un professionnel"
                      [style]="{'width':'250px'}" filter="filter">
                  </p-dropdown>
                </div>
            </div>


            <div class="ui-grid-row">
                <div class="ui-g-4"><label for="payeur">Payeur</label></div>
                <div class="ui-g-8">
                  <p-dropdown
                      [options]="payeurs"
                      [(ngModel)]="care.payeur"
                      placeholder="Séléctionner un payeur"
                      [style]="{'width':'250px'}" filter="filter">
                  </p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-g-4"><label for="beneficiaire">Bénéficiare</label></div>
                <div class="ui-g-8">
                  <p-dropdown
                      [options]="beneficiaires"
                      [(ngModel)]="care.beneficiaire"
                      placeholder="Séléctionner un bénéficiaire"
                      [style]="{'width':'250px'}" filter="filter">
                  </p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-g-4"><label for="carteVitale">Carte vitale</label></div>
                <div class="ui-g-8">
                  <p-dropdown
                      [options]="cartes"
                      [(ngModel)]="care.carteVitale"
                      placeholder="Séléctionner une carte vitale"
                      [style]="{'width':'250px'}" filter="filter">
                  </p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-g-4"><label for="modePaiement">Mode de paiement</label></div>
                <div class="ui-g-8">
                  <p-dropdown
                      [options]="modePaiements"
                      [(ngModel)]="care.modePaiement"
                      placeholder="Séléctionner un mode de paiement"
                      [style]="{'width':'250px'}" filter="filter">
                  </p-dropdown>

                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-g-4"><label for="montant">Montant</label></div>
                <div class="ui-g-8"><input pInputText id="montant" [(ngModel)]="care.montant" /></div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
                <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
            </div>
        </p-footer>
      </md-card>
</p-dialog>
</div>
